$break-phones-max: "(max-width: 480px)";

$break-tables-min: "(min-width: 481px)";
$break-tables-max: "(max-width: 820px)";

$break-laptop-min: "(min-width: 821px)";
$break-laptop-max: "(max-width: 1200px)";
