$primary: #ff3f3a;
$secondary: #ffcf2d;

$button-gradient: linear-gradient(55.95deg, #ff3f3a, #f75e05, #ff3f3a);
$background-gradient: linear-gradient(55.95deg, #ff403a, #f75e05);

$white: #ffffff;
$green: #03cea4;
$red: #ff4242;
$yellow: #f89828;
$blue: #5a87fc;
$pink: #f52f6e;

$gray900: #1e212c;
$gray800: #424551;
$gray700: #787a80;
$gray600: #9a9ca5;
$gray500: #b3b7bc;
$gray400: #d7dadd;
$gray300: #e5e8ed;
$gray200: #f4f5f6;
$gray100: #f9f9f9;
