$primary: #ff3f3a;
$secondary: #ffcf2d;

$button-gradient: linear-gradient(55.95deg, #ff3f3a, #F75E05, #ff3f3a);
$background-gradient: linear-gradient(55.95deg, #ff403a, #F75E05);

$green: #03CEA4;
$red: #FF4242;
$yellow: #F89828;
$blue: #5A87FC;

$gray900: #1e212c;
$gray800: #424551;
$gray700: #787A80;
$gray600: #9A9CA5;
$gray500: #B3B7BC;
$gray400: #D7DADD;
$gray300: #E5E8ED;
$gray200: #F4F5F6;
$gray100: #F9F9F9;
