@mixin container {
  max-width: 1230px;
  margin: 0 auto;
}

@mixin button-reset {
	border: none;

	color: inherit;
	font-weight: bold;
	font-size: inherit;
	font-family: inherit;

	background: none;

	&:hover {
		cursor: pointer;
	}
}

@mixin hoverable {
	&:hover {
		color: $primary;

	cursor: pointer;
	}
}

@mixin bold {
	color: $gray900;
	font-weight: 700;
}

@mixin black-bold {
	color: $gray900;
	font-weight: 900;
}