@mixin hoverable($color: $primary) {
  &:hover {
    color: $color;

    cursor: pointer;
  }
}

@mixin text-icon($iconSize: 16px, $gap: 8px) {
  display: flex;
  flex-wrap: wrap;
  gap: 4px $gap;
  align-content: center;
  align-items: center;

  text-align: center;

  &__icon {
    height: $iconSize;
  }
}

@mixin badge($color: $green) {
  @extend %text-small;

  display: inline-block;
  width: max-content;
  height: 21px;
  padding: 0 8px;
  border-radius: 4px;

  color: $white;

  background-color: $color;
}
